/*------------------------NAV BAR------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Assistant:wght@500&family=Ubuntu:wght@300&display=swap');

body {
  font-family: "Comfortaa", cursive;
  	background-color:#d9d9d9;
}
.top {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0.7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  background: linear-gradient(84deg, #ffffff, #ffebbf);
  }
  .navbar-brand img {
    height: 70px;
    width: 70px;
  }

  .main-menu-area {
    text-align: center;
    margin-top: 2%;
  }
  .nav-item {
    display: block;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-item:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
  }
  .nav-item:hover::after {
    width: 100%;
    height: 1px;
    background-color: #000;
  }

/*-----------------------------------------------------------*/

/*------------------------MAIN------------------------------*/

* {
  margin: 0;
  padding: 0;
}
.bar {
  height: 600px;
  width: 100%;
}
.bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.347), rgba(0, 0, 0, 0.1)),
    /* url(../images/Chinese-restaurants.JPG); */
    url(/PICS/HI.JPG);
}
.sp {
  height: 100px;
}
.head {
  height: 300px;
  width: 500px;
  margin-left: 10%;
}
.head h3 {
  color: #ff9500;
  font-family: Comic Sans MS;
  font-size: 66px;
  margin-top: 100px;
}
.body {
  height: 100px;
  width: 700px;
  margin-top: 50px;
  margin-left: 10%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  font-family: "Assistant", sans-serif;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px 16px white;
}

.about-title-name {
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: 'Alice', serif;
  color: #000000;
}
.main-about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3%;
}

.block {
  display: flex;

  flex-direction: row;
  
  align-items: center;
  justify-content: space-around;
  margin: 25px 0;
}

#about-element-01 {
  background-image: url(/PICS/AB_1.jpg);
}
#about-element-05 {
  background-image: url(/PICS/AB_2.jpg);
}

.float-pic-left {
  width: 40%;
  height: 250px;
  transition: transform .2s;
} 
.float-pic-left:hover{
  transform: scale(1.1);
}
.float-info-right {
  width: 50%;
}

#about-element-04 {
  background-image: url(/PICS/AB_3.jpg);
  width: 42%;
  height: 250px;
  transition: transform .2s;
}
#about-element-04:hover{
  transform: scale(1.1);
}


#about-element-03 {
  width: 50%;
}

.big-font {
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .head h3 {
    font-size: 40px;
  }
  .head {
    width: 80%;
  }
  .body {
    font-size: 17px;
    width: 80%;
    height: 200px;
  }
  .main-about-div {
    height: 1800px;
    text-align: center;
    width: 100%;
    margin-top: -100px;
  }

  .block {
    display: grid;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0;
  }

  .float-pic-left {
    width: 100%;
    height: 250px;
  }
  .float-info-right {
    width: 100%;
    margin-top: 25px;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  #about-element-04 {
    width: 100%;
    height: 250px;
  }

  #about-element-03 {
    width: 100%;
    margin-left: 0%;
    margin-top: 25px;
  }
}
/*-----------------------------------------------------------*/

/*------------------------FOOTER------------------------------*/


.footer-into-content-wrap {
  text-align: center;
  margin-top: 2%;
}
.last-footer-div {
  background: linear-gradient(180deg, #f1e6c5, #ffd062);
  padding-bottom: 2px;
  margin-bottom: -100px;
  font-size: 17px;
}
.no {
  color: #006900;
}
a {
  text-decoration: none;
  color: white;
}
.footer-social-media-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.privacy {
  color: #000000;
}

.fa {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}
.footer-webpage-name a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .footer-webpage-name {
    font-size: 15px;
  }
  .footer-social-media-handle {
    width: 100%;
    margin-left: 0%;
  }
  .privacy {
    font-size: 15px;
  }
  .footer-copywrite-claim {
    font-size: 12px;
  }

.last-footer-div{
  background-color: #e09743;
padding: 5px 0 20px;
}
.footer-into-content-wrap{
      text-align: center;
      margin-top: 2%;
}
.no{
  color: red;
}

a{
  text-decoration: none;
}

.footer-webpage-name{
  margin-top: 1%;
}

.footer-social-media-handle{
      margin-bottom: 1%;

}}
/*-----------------------------------------------------------*/

/* scroll bar */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff9500, #ffbc5e);
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
