/*  Contact-us FULL DONE */

body {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: "Comfortaa", cursive;
  /* background-color: #d9d9d9; */
}

.nav-item {
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.nav-item:hover::after {
  width: 100%;
  height: 1px;
  background-color: #000;
}
#main-contact {
  text-decoration: none;
}
.navbar {
  background: linear-gradient(84deg, #ffffff, #ffebbf);
}
.navbar-brand img {
  height: 70px;
  width: 70px;
}

main {
  text-align: center;
  position: relative;
  padding-top: 150px;
  padding-bottom: 50px;
}

.feedback-text {
  font-size: 20px;
  color: rgb(97, 97, 97);
}

.footer-into-content-wrap {
  text-align: center;
  margin-top: 2%;
}
.last-footer-div {
  background: linear-gradient(180deg, #f1e6c5, #ffd062);
  padding-bottom: 2px;
  margin-bottom: -100px;
  font-size: 17px;
}
.no {
  font-size: 25px;
  color: #006900;
}
a {
  color: white;
}
.footer-webpage-name a {
  font-size: 18px;
}
.footer-social-media-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.privacy {
  color: #000000;
}

.fa {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}
.footer-webpage-name a {
  text-decoration: none;
}

.hours-text h4 {
  margin-top: 20px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff9500, #ffbc5e);
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@media screen and (max-width: 480px) {
  .last-footer-div {
    font-size: 15px;
    padding: 0 10px 2px 10px;
  }
}
