body {
  list-style: none;
  font-family: "Comfortaa", cursive;
  background-color: #ffffff;
}
.back-video {
  width: 100%;
  z-index: -1;
}

.home-top-area {
  /* position: relative;
  bottom: 500px; */
  position: absolute;
  bottom: 110px;
}

.text {
  margin: auto auto 3%;
  font-size: 75px;
  font-weight: 900px;
  width: 90%;
  color: #ffffff;
}

.navbar {
  background: linear-gradient(84deg, #ffffff, #ffebbf);
}
.navbar-brand img {
  height: 70px;
  width: 70px;
}

.nav-item {
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.nav-item:hover::after {
  width: 100%;
  height: 1px;
  background-color: #000;
}
.featured-dish-details {
  width: 80%;
  margin: 50px auto 5%;
  font-family: "Comfortaa", cursive;
}
.featured-dish-details h4 {
  margin: 10px 0px 10px 0px;
  font-size: xx-large;
}
.main-about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3%;
}
.block {
  display: flex;

  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  margin: 25px 0;
}
#about-element-01 {
  background-image: url(../PICS/AB_1.jpg);
  box-shadow: 2px 2px 16px black;
}
#about-element-05 {
  background-image: url(../PICS/AB_2.jpg);
  box-shadow: 2px 2px 16px black;
}
.float-pic-left {
  width: 40%;
  height: 250px;
  transition: transform 0.2s;
}
.float-pic-left:hover {
  transform: scale(1.1);
}
.float-info-right {
  width: 50%;
}
#about-element-04 {
  background-image: url(../PICS/AB_4.jpg);
  width: 42%;
  height: 250px;
  transition: transform 0.2s;
  box-shadow: 2px 2px 16px black;
}
#about-element-04:hover {
  transform: scale(1.1);
}
#about-element-03 {
  width: 50%;
}

.big-font {
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .head h3 {
    font-size: 40px;
  }
  .head {
    width: 80%;
  }
  .body {
    font-size: 17px;
    width: 80%;
    height: 200px;
  }
  .main-about-div {
    height: 1800px;
    text-align: center;
    width: 100%;
    margin-top: -100px;
  }
  .block {
    display: grid;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0;
  }
  .float-pic-left {
    width: 100%;
    height: 250px;
  }
  .float-info-right {
    width: 100%;
    margin-top: 25px;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  #about-element-04 {
    width: 100%;
    height: 250px;
  }
  #about-element-03 {
    width: 100%;
    margin-left: 0%;
    margin-top: 25px;
  }
  .featured-dish-details p {
    margin-bottom: 6rem;
    text-align: justify;
  }
}

.btn {
  margin: auto 1% auto 1%;
}

.review-area {
  text-align: center;
  margin-top: 10%;
}

.main-home-area {
  text-align: center;
}

.screenshot {
  height: 30vw;
}

.img-cont {
  margin: 2% 5% auto;
}

.last-footer-div {
  background: linear-gradient(180deg, #f1e6c5, #ffd062);
  padding-bottom: 2px;
  margin-bottom: -100px;
}
.footer-into-content-wrap {
  text-align: center;
  margin-top: 2%;
}
.no {
  color: #006900;
}
a {
  /* text-decoration: none; */
  color: white;
}
.footer-social-media-handle {
  /* padding-right: 1.5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.privacy {
  color: #000000;
}

.fa {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}

.footer-webpage-name a {
  text-decoration: none;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff9500, #ffbc5e);
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@media screen and (max-width: 600px) {
  .back-video {
    margin-top: 25%;
    width: 100vw;
  }
  .text {
    font-size: 30px;
    margin: auto;
    color: #000;
    margin-bottom: 5%;
  }
  .home-top-area {
    position: static;
    margin-bottom: 7%;
  }
  .last-footer-div {
    font-size: 0.8rem;
  }
  .footer-webpage-name a {
    font-weight: 800;
  }
}
