body{
    padding: 0px;
  	margin: 0px;
  	list-style: none;
  	font-family: 'Comfortaa', cursive;
	background-color: #ffff;

  }
  .back-video{
    position:absolute;
    left:0;
    top:0;
    z-index: -1;
  }
  @media(min-aspect-ratio:16/9){
    .back-video{
      width:100%;
      height:auto;
    }
  }
  @media(max-aspect-ratio:16/9){
    .back-video{
      width:auto;
      height:100%;
    }
  }
  .featured-dish-details{
  width: 50%;
  margin: 100px auto 100px auto;
  font-family: 'Comfortaa', cursive;
  color:#ffff;
  }
  .about-us-area{
    width: 50%;
  margin: 100px auto 100px auto;
  }
  .top-home-area{
    color: #ffff;
  }
.text{
  color:#ffff;
}
.about-us-text-box{
  padding-bottom: 20%;
}
h5{
  margin-top: 175px;
}
.img2{
  float:left;
    margin-right:75px;
}
.img3{
  float:right;
  margin-left:75px;
}
.img4{
  float:left;
  margin-right:75px;
}
.btn{
margin:auto 1% auto 1%;

}
.p1{
  margin-left:250px
}
.main-home-area{
  text-align: center;
  position: relative;
  padding-top: 400px;
}
.last-footer-div{
  background-color:#d1cfcf;
padding: 50px 0 20px;
}
.footer-into-content-wrap{
      text-align: center;
      margin-top: 2%;
}
.no{
  color: red;
}
.footer-social-media-handle{
      padding-right: 1.5%;
}

.fa {
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
}

.nav-item :hover{
  	border-bottom: 1px solid #000;
  	transition: 0.4s;
  }
