body{
  list-style: none;
  font-family: 'Comfortaa', cursive;
	background-color: #ffff;

  }
  .back-video{
    position:fixed;
    left:0;
    top:0;
    z-index: -1;
  }
  @media(min-aspect-ratio:16/9){
    .back-video{
      width:100%;
      height:auto;
    }
  }
  @media(max-aspect-ratio:16/9){
    .back-video{
      width:auto;
      height:100%;
    }
  }


  .nav-item :hover{
  	border-bottom: 1px solid #000;
  	transition: 0.4s;
  }
  .featured-dish-details{
  width: 50%;
  margin: 20% auto 20% auto;
  font-family: 'Comfortaa', cursive;
  color:#ffff;
  }
  .about-us-text-area{
    width: 60%;
  margin: 10% auto 10% auto;
  }
  .top-home-area{
    color: #ffff;
  }
  .text{
    color:#ffff;
    font-size: 75px;
    font-weight: 900px;
  }
h5{
  margin-top: 175px;
}
.img2{
  float:left;
    margin-right:75px;
}
.img3{
  float:right;
  margin-left:75px;
}
.img4{
  float:left;
  margin-right:75px;
}
.btn{
margin:auto 1% auto 1%;

}
.about-us-area{
  color:#ffff;
}
.review-area{
  color:#ffff;
}
.main-home-area{
  text-align: center;
  position: relative;
  padding-top: 400px;
}
.last-footer-div{
  background-color:#ffb366;
    padding-bottom:2%;
}
.footer-into-content-wrap{
      text-align: center;
      margin-top: 2%;
}
.no{
  color:#006900;
}
a{
  text-decoration: none;
}
.footer-social-media-handle{
      padding-right: 1.5%;
}
.privacy{
  color:#000000;
}

.fa {
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
}
