body {
  font-family: "Comfortaa", cursive;
}
.main-menu-area {
  text-align: center;
  margin-top: 2%;
}

.wrapUp-pic-name-description {
  display: inline-block;
  margin: 0 1% 4%;
  width: 30%;
}

#main-menu-big-text {
  margin-bottom: 2%;
  margin-top: 100px;
}

.every-course-heading {
  width: 70%;
  margin: auto auto 2% auto;
}

.big-fonts-catagory-name {
  font-size: 2rem;
}

.wrap-up-items {
  margin: auto 3% auto 3%;
}

.food-name {
  font-size: 1.5rem;
}

.footer-into-content-wrap {
  text-align: center;
  margin-top: 2%;
}

.footer-social-media-handle {
  padding-right: 1.5%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.nav-item :hover {
  border-bottom: 1px solid #000;
  transition: 0.4s;
}

.wrapUp-pic-name-description {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.wrapUp-pic-name-description:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.picOfFood-each {
  width: 10%;
  height: 10%;
}

#Qr-code-director {
  margin-bottom: 3%;
}

.btn {
  margin-top: 3%;
}

.last-footer-div {
  background-color: #e09743;
  padding: 50px 0 20px;
}
.footer-into-content-wrap {
  text-align: center;
  margin-top: 2%;
}
.no {
  color: red;
}

a {
  text-decoration: none;
}

.footer-webpage-name {
  margin-top: 1%;
}

.footer-social-media-handle {
  margin-bottom: 1%;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff9500, #ffbc5e);
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
