@import url("https://fonts.googleapis.com/css2?family=Alice&family=Assistant:wght@500&family=Ubuntu:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
  /* background-color: #e6e6e6; */
}
.nav-food {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
}
.navbar {
  background: linear-gradient(84deg, #ffffff, #ffebbf);
}
.navbar-brand img {
  height: 70px;
  width: 70px;
}
.nav-pills .nav-item1 .active {
  border-bottom: 2px solid var(#fea116);
  text-decoration: none;
}
h6 {
  color: #fea116;
  font-weight: 700;
  font-size: 25px;
}
.main-menu-area {
  text-align: center;
  width: 95%;
  margin: 6.2% auto;
}

.wrapUp-pic-name-description {
  display: inline-block;
  margin: 0 1% 4%;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  transition: 0.3s;
}

.wrapUp-pic-name-description:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#main-menu-big-text {
  font-size: 10px;
  margin-bottom: 2%;
  margin-top: 100px;
  font-family: "Alice", serif;
}

.every-course-heading {
  width: 70%;
  margin: auto auto 2% auto;
}

.big-fonts-catagory-name {
  font-size: 25px;
}

.wrap-up-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}
/* .wrap-up-items {
  margin: auto 3%;
} */

.food-name {
  font-size: 1.5rem;
}

.footer-into-content-wrap {
  text-align: center;
}

.footer-social-media-handle {
  padding-right: 1.5%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

av-item :hover {
  border-bottom: 1px solid #000;
  transition: 0.4s;
}
.nav-item1 {
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item1:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.nav-item1:hover::after {
  width: 100%;
  height: 1px;
  background-color: #000;
}
.picOfFood-each {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  /* border-radius: 5px; */
}
.picOfFood-each img {
  width: 100%;
  height: 15rem;
  /* border-radius: 5px; */
}
.food-name-each {
  margin-top: 10px;
}
.description-food-each {
  text-align: justify;
  box-shadow: 0 -5px 5px -5px #d4d3d3;
}
.picOfFood-each:hover {
  transform: scale(1.1);
}

#Qr-code-director {
  margin-bottom: 3%;
}

.img_qr {
  margin-right: 2%;
}

.btn {
  margin-top: 3%;
}
.description-food-each {
  padding: 10px;
}

.last-footer-div {
  background: linear-gradient(180deg, #f1e6c5, #ffd062);
  padding-bottom: 2px;
  margin-bottom: -100px;
}
.footer-into-content-wrap {
  text-align: center;
  margin-top: 2%;
}
.no {
  color: #006900;
}
a {
  /* text-decoration: none; */
  color: white;
}
.footer-social-media-handle {
  /* padding-right: 1.5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.privacy {
  color: #000000;
}

.fa {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}
a.fa {
  margin: 0 2%;
}
.footer-webpage-name a {
  text-decoration: none;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff9500, #ffbc5e);
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.footer-social-media-handle {
  padding-right: 3.5%;
}

/*  rsponsiveness */

@media screen and (max-width: 480px) {
  .wrap-up-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .wrapUp-pic-name-description {
    width: 100%;
  }
  .qr_img {
    display: none;
  }
}

.tab-pane {
  width: 100%;
  /* margin: 0 auto; */
}
